.root{
    background: gold;
    color:#fff;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.show {
    animation: fade-in 1s ease-in-out;
}
.hide {
    animation: fade-out 1s ease-in-out forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate3d(0,-50px,0);
    }

    to {
        opacity: 1;
        transform: translate3d(0,0px,0);

    }
}


@keyframes fade-out{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0,-50px,0);
    }
}